@media (prefers-color-scheme: dark) {
  body,
  .full-screen,
  #code {
    background: #444 !important;
    color: #e4e4e4 !important;
  }
  .title-bar {
    background: rgb(58, 58, 58) !important;
  }
}
