#code {
    margin-top: 20vh;
    transition-duration: 400ms;
    text-align: center;
    box-sizing: border-box;
    width: 80vw;
    height: 50vh;
    margin-left: 10vw;
    font-size: 30vmin;
    border: 4px solid #ffffff;
}
#result {
    font-size: 10vmin;
    text-align: center;
}