@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Lato",sans-serif;
}

body {
  background: #157EFB;
}

.urlbar {
  box-shadow: 0 4px 24px rgba(0,0,0,.25);
  font-weight: 400;
  padding: 0 10px;
  height: 3.2rem;
  border: 4px solid #fff;
}